# Question 1

In [14]:
#Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] ) 
#Print all elements from my_tuple on a new line (using for loop) 
# Create a new tuple by concatenating the first and last elements of my_tuple

In [15]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] ) 
#print all element from my_tuple
for i in my_tuple:
    print(i)
#concatinating first and last element of my_tuple
new_tuple=my_tuple[0]+tuple(my_tuple[-1])
print(new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
(1, 2, 3, 7, 8, 9)

# Question 2

In [1]:
# Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
# 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, } 
#• Add a new book in inventory using method and get all book titles using method
# • Remove a book if it's out of stock

In [4]:
inventory = { 
    "The Great Gatsby": {"price": 10.99, "quantity": 5}, 
    "Rich dad poor dad": {"price":8.99, "quantity": 8}, 
    "Harry Potter": {"price": 12.50, "quantity": 2}, 
} 
#adding new book in the inventory 
new_book=inventory.update({"Smarter Way to Learn Python":{"price":15.99,"quantity":0}})
#get all the title using methods
for i in inventory.keys():
    print(i)
#remove a book if's out of stock
book_to_del=[]
for key,value in inventory.items():
    if value["quantity"]==0:
        book_to_del.append(key)
for i in book_to_del:
    deletedbook=inventory.pop(i)
    print(f"Deleted Book: {i}:{deletedbook}")

The Great Gatsby
Rich dad poor dad
Harry Potter
Smarter Way to Learn Python
Deleted Book: Smarter Way to Learn Python:{'price': 15.99, 'quantity': 0}

# Question 3

In [5]:
# Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
# dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
# category, price, and stock quantity.
# products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102:
# {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
# "category": "Home Appliances", "price": 80, "stock": 30} }
# • Increase the stock of the "Shirt" product (add 50 more units) 
# • Add a new product (e.g., "Smartphone")

In [33]:
products = { 
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} 
}
#Increase the stock of shirt product 
products[102]["stock"]+=50
print(products[102])
# Add a new product (e.g., "Smartphone")
products.update({104:{"name": "Smart Phone", "category": "Electronics", "price": 25000, "stock": 100}})
print(products)

{'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smart Phone', 'category': 'Electronics', 'price': 25000, 'stock': 100}}

# Question 4

In [34]:
# Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
# list to a set.
# shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [37]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
shopping_list=set(shopping_list)
print(f"SHOPPING LIST WITHOUT DUPLICATES:{shopping_list}")

SHOPPING LIST WITHOUT DUPLICATES:{'banana', 'apple', 'orange', 'grape'}

# Question 5

In [38]:
# Q5. You are managing a list of students enrolled in two different courses. You need to perform
# various set operations to understand the student enrollment. Task: Create two sets: one for students
# in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in
# "Course B" (difference). Find students who are only in one of the two courses (symmetric
# difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie",
# "David"} 
# • Find students who are in Course A but not in Course B (difference) 
# • Find students who are only in one of the two courses (symmetric difference)

In [42]:
course_a = {"John", "Alice", "Bob", "David"} 
course_b = {"Alice", "Eve", "Charlie","David"} 
# • Find students who are in Course A but not in Course B (difference) 
print(f"STUDENTS IN COURSE A BUT NOT IN COURSE B{course_a.difference(course_b)}") 
# • Find students who are only in one of the two courses (symmetric difference)
print(f"STUDENTS WHO ARE ONLY IN ONE OF THE TWO COURSES{course_a.symmetric_difference(course_b)}")

STUDENTS IN COURSE A BUT NOT IN COURSE B{'Bob', 'John'}
STUDENTS WHO ARE ONLY IN ONE OF THE TWO COURSES{'Charlie', 'Bob', 'John', 'Eve'}

# Question 6

In [43]:
# Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
# (inclusive) using a for loop.
# Hint
# 1. Initialize a variable to hold the sum (e.g., sum_of_evens).
# 2. Use a for loop to iterate through all numbers from 1 to 50.
# 3. Inside the loop, check if the number is even.
# 4. If the number is even, add it to sum_of_evens.
# 5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [47]:
sum=0
for i in range(1,51):
    if i%2==0:
        sum+=i
print(f"SUM OF ALL EVEN NO FROM 1 TO 50: {sum}")

SUM OF ALL EVEN NO FROM 1 TO 50: 650

# Question 7

In [48]:
# Q7. Write a Python program that prints the multiplication table for a given number (between 1 and
# 10) using a for loop.
# Hint:
# 1. Ask the user for a number between 1 and 10 .
# 2. Use a for loop to iterate through the numbers from 1 to 10.
# 3. For each iteration, calculate the product of the given number and the current number in the
# loop.
# 4. Print the result in a readable format (e.g., 5 x 1 = 5).
# 5. Ensure the program works correctly for any number between 1 and 10

In [54]:
no=int(input("Enter Number (between 1 and 10)"))
if no<1 or no>10:
    print("INVALID NUMBER ENTERED")
else: 
    for i in range(1,11):
        print(f"{no} X {i} = {no*i}")

Enter Number (between 1 and 10) 8

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

# Question 8

In [55]:
# Q8. Power of a Number
# Write a Python program that takes a number and prints the powers of the number (starting from 1
# to 10) using a while loop. For example, if the user inputs 3, the output should be:
# 3^1 = 3
# 3^2 = 9
# 3^3 = 27
# ... up to 3^10.

In [57]:
no=int(input("Enter Number"))
i=1
while i!=11:
    print(f"POWER OF {no}^{i}={no**i}")
    i+=1

Enter Number 2

POWER OF 2^1=2
POWER OF 2^2=4
POWER OF 2^3=8
POWER OF 2^4=16
POWER OF 2^5=32
POWER OF 2^6=64
POWER OF 2^7=128
POWER OF 2^8=256
POWER OF 2^9=512
POWER OF 2^10=1024

# Question 9

In [58]:
# Q9. Problem Statement: Write a Python program that takes an integer input from the user and
# counts down from that number to 0. The program should display the current number at each step
# until it reaches 0, at which point it should print a message indicating the countdown is finishedOutput Hint:
# Enter a number to start the countdown: 3
#  3
#  2
#  1
#  0
#  Countdown finished!

In [60]:
no=int(input("Enter Number for count down"))
for i in range(no,-1,-1):
    print(i)
print("Countdown finished!")

Enter Number for count down 5

5
4
3
2
1
0
Countdown finished!

# Question 10

In [72]:
# Q10. Write a Python program that takes an integer input n from the user and generates a rightangled triangle pattern of stars (*) with n rows. 
#The first row should contain 1 star, the second row 2
# stars, the third row 3 stars, and so on until the nth row.
# Ensure the stars in each row are separated by spaces, and each row starts on a new line.
# Pattern: *
# **
# ***
# ****
# *****

In [70]:
no=int(input("Enter Number for Pattern"))
for i in range(1,no+1):
    print("*"*i)

Enter Number for Pattern 6

*
**
***
****
*****
******