# Assignment No 1

In [1]:
#Creating List
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [3]:
# 1. What is the length of the salaries list.
print("Length of Salaries List:",len(salaries))

Length of Salaries List: 7

In [5]:
# 2. Retrieve the third salary in the list by using index.
print(salaries[2])

50k

In [6]:
# 3. Extract the last salary from the list by using a negative index.
print(salaries[-1])

40k

In [7]:
# 4. Slice the salaries list to get only the middle three salaries.
print(salaries[2:5])

['50k', '60k', '35k']

In [8]:
# 5. Add a new salary to the list, ‘100k’ by using append() method.
salaries.append("100k")
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [9]:
# 5. Add a new salary to the list, ‘120k’ without method.
salaries=salaries+["120k"]
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [10]:
# 6. Replace the third salary in the list with '55k' and print the updated list.
salaries[2]="55k"
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [11]:
# 7. Count how many times '40k' appears in the list.
print(salaries.count("40k"))

2

In [14]:
# 8. Insert a new salary at the second position.
salaries.insert(1,"75k") #Adding New Salary '75k'
print(salaries)

['20k', '75k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [17]:
# 9. reverse the order of the salaries list with method.
salaries.reverse()
print(salaries)

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '75k', '20k']

In [23]:
# 10. Reverse the order of the salaries list without method.
print(salaries[::-1])

['20k', '75k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']